@charset "UTF-8";

.errorlist {
    color: red;
    margin-left: 0;
    padding-left: 0;
}

.errorlist li {
    list-style-type: none;
}

.messages { 
    margin: 0;
    padding: 0;
}

.messages li {
    list-style-type: none;
    padding: 15px;
}

.messages li.success {
    color: #00f;
    background-color: #ddf;
}

.messages li.error {
    color: #f00;
    background-color: #fdd;
}

